.env
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
*.py[cod]
*.egg-info/
*.md
!README.md
!**/README.md
node_modules/
dist/
.vite/

/experiments/
/tests/*
!/tests/test_api.py
/data/

cache/
output/
